SFF/WebContent/WEB-INF/systemconfigschema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema  attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="administrador" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="superusuario" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="usuario" maxOccurs="1"/>
              <xs:element type="xs:string" name="senha" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>